.nav {
  grid-area: n;
  background-color: rgb(30, 12, 46);

  font-size: 18px;
  padding: 20px;
}

 .item {
  color: rgb(135, 108, 179);
}

 .item .active {
    color: white;
    text-decoration: none;
}

a {
  text-decoration: none;
  color:rgb(135, 108, 179)
}