.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
}

header img {
  width: 5%
}

.header {
  grid-area: h;
  background-color: aqua;
}

.nav {
  grid-area: n;
  background-color: blueviolet;
}

.content {
  grid-area: c;
  background-color: crimson;
}

.content img {
  width: 500px
}